<div class="badge-grid">
  <div class="badges-wrapper">

    <div class="badge">
      <a href="#">
        <img src="//bahamii.com/cdn/shop/files/vegan-icon_300x300.svg?v=1715641296" alt="Lorem ipsum dolor sit">
        <h3>Lorem ipsum dolor sit</h3>
        <p>consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
      </a>
    </div>

    <div class="badge">
      <a href="#">
        <img src="//bahamii.com/cdn/shop/files/vegan-icon_300x300.svg?v=1715641296" alt="Lorem ipsum dolor sit">
        <h3>Lorem ipsum dolor sit</h3>
        <p>consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
      </a>
    </div>

    <div class="badge">
      <a href="#">
        <img src="//bahamii.com/cdn/shop/files/vegan-icon_300x300.svg?v=1715641296" alt="Lorem ipsum dolor sit">
        <h3>Lorem ipsum dolor sit</h3>
        <p>consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
      </a>
    </div>

    <div class="badge">
      <a href="#">
        <img src="//bahamii.com/cdn/shop/files/vegan-icon_300x300.svg?v=1715641296" alt="Lorem ipsum dolor sit">
        <h3>Lorem ipsum dolor sit</h3>
        <p>consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
      </a>
    </div>

    <div class="badge">
      <a href="#">
        <img src="//bahamii.com/cdn/shop/files/vegan-icon_300x300.svg?v=1715641296" alt="Lorem ipsum dolor sit">
        <h3>Lorem ipsum dolor sit</h3>
        <p>consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
      </a>
    </div>

    <div class="badge">
      <a href="#">
        <img src="//bahamii.com/cdn/shop/files/vegan-icon_300x300.svg?v=1715641296" alt="Lorem ipsum dolor sit">
        <h3>Lorem ipsum dolor sit</h3>
        <p>consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
      </a>
    </div>

    <div class="badge">
      <a href="#">
        <img src="//bahamii.com/cdn/shop/files/vegan-icon_300x300.svg?v=1715641296" alt="Lorem ipsum dolor sit">
        <h3>Lorem ipsum dolor sit</h3>
        <p>consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
      </a>
    </div>

    <div class="badge">
      <a href="#">
        <img src="//bahamii.com/cdn/shop/files/vegan-icon_300x300.svg?v=1715641296" alt="Lorem ipsum dolor sit">
        <h3>Lorem ipsum dolor sit</h3>
        <p>consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
      </a>
    </div>

    <div class="badge">
      <a href="#">
        <img src="//bahamii.com/cdn/shop/files/vegan-icon_300x300.svg?v=1715641296" alt="Lorem ipsum dolor sit">
        <h3>Lorem ipsum dolor sit</h3>
        <p>consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
      </a>
    </div>

  </div>
</div>

<style>
  .badge-grid {
    display: flex;
    justify-content: center;
  }

  .badge-grid .badges-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    width: 100%;
    max-width: 1200px;
    padding: 80px;
  }

  .badge-grid .badge {
    text-align: center;
    margin: 20px;
    /* max-width: 325px; */
  }

  .badge-grid .badge a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .badge-grid .badge img {
    max-width: 100%;
    height: auto;
  }

  .badge-grid .badge h3 {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 15px;
  }

  .badge-grid .badge p {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
    text-align: left;
  }

  @media (max-width: 1024px) {
    .badge-grid .badges-wrapper {
      grid-template-columns: repeat(auto-fill, minmax(345px, 1fr));
    }
  }

  @media (max-width: 767px) {
    .badge-grid .badges-wrapper {
      padding-left: 5%;
      padding-right: 5%;
    }
  }

</style>


{% schema %}
  {
    "name": "Badge Grid",
    "max_blocks": 12,
    "blocks": [
      {
        "type": "badge",
        "name": "Badge",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Badge Image"
          }, {
            "type": "url",
            "id": "url",
            "label": "Badge Link"
          }, {
            "type": "text",
            "id": "title",
            "label": "Title"
          }, {
            "type": "textarea",
            "id": "description",
            "label": "Description"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Badge Grid",
        "category": "Custom"
      }
    ]
  }
{% endschema %}