<div class="text-image-refactor-section-bahamii" style="height: 900px">
  <div class="main-content-wrapper-bahamii">
    <div class="image-container-bahamii">
      <div class="image-content-wrapper-bahamii">
        <img src="https://placehold.co/500" alt="Placeholder Image">
      </div>
    </div>
    <div class="text-container-bahamii">
      <div class="text-content-wrapper-bahamii">
        <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla accusantium, aut alias architecto in tempora vitae ab perferendis provident voluptatum natus pariatur similique doloribus illum doloremque earum quae, molestiae ad? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti ab in dicta at tempora unde qui ratione, rerum, expedita corrupti suscipit ut accusantium quas repudiandae, reprehenderit impedit neque iste eveniet? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam recusandae exercitationem laudantium est commodi soluta, impedit ipsa incidunt aliquam eius quibusdam vero in tempore doloremque qui fugit debitis aut. Cum.</p>
        <button>Button</button>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Text Image Refac",
    "settings": [],
    "presets": [
      {
        "name": "Text Image Refac",
        "category": "Custom"
      }
    ]
  }
{% endschema %}

<style>
  :root {
    font-size: 16px; /* Base font size */
  }

  .text-image-refactor-section-bahamii {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
  }

  .text-image-refactor-section-bahamii .main-content-wrapper-bahamii {
    width: 100%;
    display: flex;
    background: lightslategray;
    height: 70%;
  }

  .text-image-refactor-section-bahamii .image-container-bahamii {
    background: lightblue;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
  }

  .text-image-refactor-section-bahamii .image-content-wrapper-bahamii {
    display: inline;
    background: purple;
  }

  .text-image-refactor-section-bahamii .text-container-bahamii {
    background: lightcoral;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;




    


    1

  }

  .text-image-refactor-section-bahamii .text-content-wrapper-bahamii {
    background: tomato;
    padding: 1rem; /* Use rem units for padding */
  }

  .text-image-refactor-section-bahamii h2 {}
